/* LOGIN */

.login-container {
  text-align: center;
  z-index: 2;
}

.login-box {
  margin-top: 20px;
  padding: 25px;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);

  border-radius: 15px;

  box-shadow: 0 0 25px rgba(255, 77, 109, 0.3);
}

/* Inputs */
.login-box input {
  display: block;
  width: 250px;

  margin: 10px auto;
  padding: 10px;

  border: none;
  border-radius: 10px;

  outline: none;

  background: rgba(255,255,255,0.2);
  color: white;
}

.login-box input::placeholder {
  color: rgba(255,255,255,0.7);
}